label {
    width: 100px;
}

#location-page {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#image-box {
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    justify-content: space-evenly;
    height: 475px;
    /* overflow-x:; */
}

#main-image {
    height: auto;
    width: 600px;
    object-fit: cover;
}

#second-image {
    max-width: 600px;
    height: auto;

}

#campsite,
#essentials,
#amenities {

    height: 320px;
    width: 230px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    margin: 20px;
}

#sans-images {
    display: flex;
    flex-direction: row;
    /* border: 1px solid purple; */
    justify-content: center;
    width: 100%;

}

#location-information-box {
    position: relative;
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    border: 1px solid blue;
    width: 55%;
    margin-right: 30px;
    padding-left: 30px;
}

#location-banner {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    height: 150px;
    width: 100%;
    border-bottom: 1px solid whitesmoke;

    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;


}

#location-banner>h1 {
    /* font-size: 14px; */
    font-family: Arial, Helvetica, sans-serif;
}

#location-banner>p {
    width: 59%;
    font-size: 11px;
    color: slategray;
    font-family: Arial, Helvetica, sans-serif;
}


#owner-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#location-description {
    padding-top: 30px;
    width: 70%;
    font-size: 14px;
    word-spacing: 1.5px;
}

#owner-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 100px;
}

#owner-image {
    height: 80px;
    width: 80px;
    border-radius: 60px;
    border: 1px solid red;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40px;
}

label>p {
    font-size: 13px;
}



#location-details-outer {
    display: flex;
    flex-direction: row;
    width: 25rem;
    height: 5rem;
    border-top: 1px solid lightgray;
    margin-top: 15px;
    border-bottom: 1px solid lightgray;

}

#location-details {

    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding: 15px; */
    margin: 0;
    padding: 0;
}

#location-details>div {
    height: 0;
}

#info-attribute {
    margin: 0;
    padding: 0;
    width: 75%;
    display: flex;
    justify-content: space-between;

}

#info-attribute>div {
    margin: 0;
    padding: 0;
}

#reservation-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 350px;
    width: 315px;
    box-shadow: 1px 1px 1px rgb(214, 212, 212);
    z-index: 1;
    position: sticky;
    top: 0px;
    background-color: white;
    border: .5px solid rgb(219, 219, 219)
}

#reservation-placeholder {
    height: 150px;
    /* max-height: 250px; */
    max-width: 300px;
    object-fit: cover;
}
