/* label {
    width: 100px;
} */

#delete-location,
#edit-location,
#close-modal,
#open-modal {
    background-color: #447AB9;
    width: 80px;
    height: 20px;
    color: #FEF265;
    font-weight: 550;
    border: 0px;
    border-radius: 3px;
    font-size: 14px;
}


.star-fill {
    width: 100px;
    height: 50px;
    color: #447AB9;
    /* color: #e3d215; */
    border: 1px solid rgb(224, 224, 224);
    background-color: white;
    font-weight: 500;

}

.star-noFill {
    width: 100px;
    height: 50px;
    color: #447AB9;
    border: 1px solid rgb(224, 224, 224);
    background-color: white;
    font-weight: 500;
}

#link-button {
    width: 50px;
    height: 50px;
    color: #447AB9;
    border: 1px solid rgb(224, 224, 224);
    background-color: white;
    font-weight: 500;
    font-size: 12px;
}

.star-fill:hover,
.star-noFill:hover,
#link-button:hover {
    border: 1px solid black
}

#location-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 1400px;
}

#image-box {
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    justify-content: space-evenly;
    height: 475px;
}


#campsite,
#essentials,
#amenities {
    height: 480px;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid rgb(238, 234, 234);
    margin: 20px;
    box-shadow: 0px 0px 1.5px rgb(215, 212, 212);
}

#campsite>h2,
#essentials>h2,
#amenities>h2 {
    margin-bottom: 20px;
}

.info-attribute {
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}

.info-attribute>img {
    margin: 0;
    margin-right: 10px;
}




#sans-images {
    display: flex;
    flex-direction: row;
    /* border: 1px solid purple; */
    justify-content: center;
    width: 100%;
    position: relative;
    top: -45px;
}

#location-information-box {
    position: relative;
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid blue; */
    width: 55%;
    margin-right: 30px;
    padding-left: 30px;
}

#location-banner-scroll {
    display: flex;
    flex-direction: column;
    height: 65px;
    width: 100%;
    border-bottom: 1px solid whitesmoke;
    position: sticky;
    top: 0;
    /* padding-top: 15px; */
    padding-left: 95px;
    padding-bottom: 35px;
    margin-bottom: 15px;
    /* display: none; */
    background-color: white;
    z-index: 2;
    animation: fadein 0.3s linear 1;

    max-width: 675px;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#location-banner-scroll>h1 {
    font-size: 24px;
}

#location-banner-scroll>#lower-location-banner {
    max-height: 30px;
    max-width: 700px;
}

#location-banner {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 170px;
    width: 100%;
    border-bottom: 1px solid whitesmoke;

    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;

}

#location-banner>h1,
#location-banner-scroll>h1 {
    /* font-size: 14px; */
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;

}

#location-banner>p,
#location-banner-scroll>p {
    width: 225px;
    font-size: 11px;
    color: slategray;
    font-family: Arial, Helvetica, sans-serif;
}

#lower-location-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-top: 14px; */
    /* margin-bottom: 15px; */
    align-items: center;
    /* border: 1px solid purple */
}

#review-rec-rate {
    display: flex;
    flex-direction: row;
    width: 170px;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 20px;
}

#lower-left {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    width: 350px;
}

#lower-right {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 180px;
}

#rec-percent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    color: #2770c3;
    font-weight: 500;
    /* font-size: 14px; */
}

#rec-none {
    width: 200px;
    color: #2770c3;
}

#review-logo-box {
    display: flex;
    flex-direction: row;
    align-content: center;
}


.review-logo {
    margin-left: -15px;
    border: solid black 1px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#owner-description {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* height: 380px; */
    /* border: 1px solid purple; */
}

#location-description {
    padding-top: 30px;
    width: 70%;
    font-size: 16px;
    word-spacing: 1.5px;
    font-weight: 100;
    /* font-family: Arial, Helvetica, sans-serif; */
    line-height: 150%;
    white-space: pre-wrap;
    /* height: auto; */
}

#owner-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 100px;
}

#owner-image {
    height: 85px;
    width: 85px;
    /* border-radius: 50px; */
    /* border: 1px solid red; */
    ;
}


label {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40px;
}

label>p {
    font-size: 13px;
}



#location-details-outer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 25rem;
    height: 100px;
    border-top: 1px solid lightgray;
    margin-top: 45px;
    padding-top: 25px;
    border-bottom: 2px solid whitesmoke;


}

#location-details {

    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding: 15px; */
    margin: 0;
    padding: 0;
}

#location-details>div {
    height: 0;
}

.details-label {
    font-weight: bold;
}

#reservation-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 350px;
    width: 315px;
    box-shadow: 1px 1px 1px rgb(214, 212, 212);
    z-index: 2;
    position: sticky;
    top: 0px;
    background-color: white;
    border: .5px solid rgb(219, 219, 219);
    /* margin-top: 30px; */

}

#reservation-placeholder {
    height: 150px;
    /* max-height: 250px; */
    max-width: 300px;
    object-fit: cover;
}
