#home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    /* align-items: ; */
    /* background-color: #82A7D6; */
    /* background-color: #447AB9; */
    background-color: #fdf6ec;
    padding-left: 20px;
    padding-right: 20px
}

#splash-image {
    border-radius: 25px;
    background-color: #447AB9;
    height: 500px;
    width: 100%;
    display: flex;

    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#splash-welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 100%;
    border: 1px solid red;
    /* background-color: #447AB9; */
    /* color: #FEF265; */
    color: #447AB9;
}

#splash-welcome>h2 {
    font-size: 65px;
    font-weight: 500;
}

#splash-welcome>p {
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
    width: 500px;

}

#home-search {
    height: 120px;
    width: 90%;
    z-index: 1;
    position: absolute;
    top: 325px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 30px;
    margin: 0;
    background-color: white;
    border: 1px solid rgb(244, 236, 236);
    box-shadow: 1px -1px 1px rgb(204, 195, 195);
    border-radius: 60px;
}

#search-icon-home {
    height: 50px;
    border-radius: 50px;
    /* height: 50px; */
    width: auto;
    object-fit: fill;
}


#locations-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.location-card {
    text-decoration: none;

    border: 1px solid red;
    height: 370px;
    width: 395px;
    border-radius: 20px;
}

.card-image {
    height: auto;
    height: 370px;
    max-width: 395px;
    object-fit: cover;
    border-radius: 20px;
    margin: 0;
}

.card-details {

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    height: 55px;
    top: -100px;
    /* background-color: #82A7D6; */
    background-color: #447AB9;

    /* color: #FCE8A4; */
    color: #FEF265;
    border-radius: 50px;
}
