# No need for DATABASE_URL to be set if developing from within a devcontainer

FLASK_APP=app
FLASK_ENV=development
SECRET_KEY=someSecretKey
DATABASE_URL=postgresql://pipcamp_app_dev@localhost/pipcamp_app
 