footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    height: 750px;
    /* width: 90%; */
    /* border-radius: 50px; */
    /* margin: 35px; */
    padding-top: 20px;
    background-color: #fdf6ec;
}

.pre-footer {
    height: 500px;
    display: flex;
    flex-direction: row;
}

.hosting,
.about-us {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.hosting p,
.about-us a {
    padding: 10px;
    text-decoration: none;
    color: rgb(153, 153, 153)
}

.title {
    font-weight: bold;
}

.about-us a {
    max-width: 80px;

}

*/ footer .nav-logo {
    margin-bottom: 45px;
}

footer h2 {
    font-size: 20px;
}

footer p {
    font-size: 16px;
    color: rgb(153, 153, 153)
}

.hosting {
    width: 25%;
    height: 250px;
}

.about-us {
    width: 25%;
    height: 250px;
}

footer .tagline {
    height: 250px;
    width: 50%;
}


.stores {
    height: 250px;
    border-bottom: 1px gray solid;
}


.copyright {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.copyright a {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(153, 153, 153);
    width: 100px;
}



#github-button {
    display: flex;
    align-items: center;
    height: 60px;
    width: 180px;
    background-color: black;
    border-radius: 8px;
}

#github-download {
    width: 180px;
    /* border: 1px solid red; */
}



#github-logo {
    padding-left: 20px;
    padding-right: 10px;

    height: 50px;
    width: 50px;
}



.github-text-1 {
    /* border: 1px solid red; */

    color: white;
    font-size: 12px;
}

.github-text-2 {
    color: white;
    /* border: 1px solid red; */

    font-size: 24px;
}
