#login-form-box {
    position: relative;
    display: flex;
    top: 100px;
    justify-content: center;
    border: 1px solid red;
    /* height: 500px; */

}

#login-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-direction: column;
    height: 400px;
    width: 300px;
    border: 1px solid blue;
}

#login-form>button {
    background-color: #447AB9;
    width: 200px;
    height: 50px;
    color: #FEF265;
    font-weight: 400;
    border: 0px;
    border-radius: 3px;
}

#login-form>div {
    width: 400px;
    border-radius: 0;
    display: flex;
    justify-content: center;

}

#login-image {
    width: 300px;
    max-height: 300px;
    object-fit: cover;
}

#login-email,
#login-password {
    width: 200px;
    height: 50px;
    border-radius: 0;
    border: 1px solid black;
}
