.favorite-card-box {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* border: 1px solid red; */
    height: 100%;
    min-height: 200px;

}

.favorite-card {
    margin: 10px;
}
